# --- Build folders ---
build/
out/
bin/
lib/

# --- Visual Studio ---
.vs/
*.vcxproj
*.vcxproj.user
*.sln

# --- CMake cache ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
InstallManifest.txt

# --- Object files ---
*.o
*.obj

# --- Executables ---
*.exe
*.out
*.dll
*.so
*.dylib

# --- Intermediate files ---
*.pdb
*.idb
*.ilk
*.manifest

# --- OS junk ---
.DS_Store
Thumbs.db
